<main>
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1  bg-gradient-success">

      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
             
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <!-- <small>Sign in </small> -->
                  <h4>Sign in</h4>
                </div>
                <form [formGroup]="loginFormGroup">
                  <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" formControlName="email" placeholder="Email" type="email">                      
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" formControlName="password" placeholder="Password"  
                    >
                    </div>
                  </div>
                
                  <div class="text-center">
                    <button type="button" (click)="login()" class="btn btn-primary my-4">Sign in</button>
                  </div>
                  <div class="row mt-3">
                    <div class="col-6">
                      <a [routerLink]="['/forgot']" class="text-black">
                        <small>Forgot password?</small>
                      </a>
                    </div>
                    <div class="col-6 text-right">
                      <a [routerLink]="['/register']" class="text-black">
                        <small>Create new account</small>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>